
body {
    background-image: url(https://st4.depositphotos.com/15827116/21256/i/450/depositphotos_212560504-stock-photo-bottle-beer-spraying-water-table.jpg);
     
background-size: contain;
     background-repeat: no-repeat;
     background-size:cover;

 }

 



 p{color: rgb(255, 255, 255);
 padding: 80px;
 }