 
    .pacifico-regular {
        font-family: "Pacifico", cursive;
        font-weight: 400;
        font-style: normal;
        color: azure
     ;}

     .fuentetitulo{
        font-size: large;
            font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif !important;} 